[Unit]
Description=Fetch and Display Photos on Inky Impression
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/fetch_and_display.py
Restart=always
User=pi
WorkingDirectory=/home/pi
EnvironmentFile=/home/pi/.env
StandardOutput=inherit
StandardError=inherit
SyslogIdentifier=fetch_and_display

[Install]
WantedBy=multi-user.target